.App {
  background-color: white;
}

.DiaryEditor{
  text-align: center;
  background-color: cornsilk;
}

h2 {
  color: #61dafb;
  text-align: center;
}

input, textarea, select, button, span{
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  width: 200px;
}

select{
  width: 60px;
}

span{
  font-size: 15px;
  margin-right: 10px;
}

textarea {
  height: 100px;
}

button{
  background-color: aliceblue;
  border: silver solid 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor:pointer;
}

#bold_text{
  color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

